# Ödev 1

In [15]:
import datetime as dt
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

## Görev 1:

#### 1. Online Retail II excelindeki 2010-2011 verisini okuyunuz. Oluşturduğunuz dataframe’in kopyasını oluşturunuz.

In [2]:
df_ = pd.read_excel(r"C:\Users\eyp_d\Desktop\Bootcamp2\Datasets\online_retail_II.xlsx", sheet_name="Year 2010-2011")

In [80]:
df = df_.copy()

In [81]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55000,17850.00000,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75000,17850.00000,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom

#### 2. Veri setinin betimsel istatistiklerini inceleyiniz.

In [82]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,541910.00000,9.55223,218.08096,-80995.00000,1.00000,3.00000,10.00000,80995.00000
Price,541910.00000,4.61114,96.75977,-11062.06000,1.25000,2.08000,4.13000,38970.00000
Customer ID,406830.00000,15287.68416,1713.60307,12346.00000,13953.00000,15152.00000,16791.00000,18287.00000

#### 3. Veri setinde eksik gözlem var mı? Varsa hangi değişkende kaç tane eksik gözlem vardır?

In [83]:
df.isnull().sum() # Eksik gözlem verisi sayısı

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [84]:
df.dropna(inplace=True)

In [85]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55000,17850.00000,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75000,17850.00000,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom

#### 5. Eşsiz ürün sayısı kaçtır?

In [86]:
df["Description"].nunique()

3896

#### 6. Hangi üründen kaçar tane vardır?

In [87]:
df["Description"].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    2070
REGENCY CAKESTAND 3 TIER              1905
JUMBO BAG RED RETROSPOT               1662
ASSORTED COLOUR BIRD ORNAMENT         1418
PARTY BUNTING                         1416
Name: Description, dtype: int64

#### 7. En çok sipariş edilen 5 ürünü çoktan aza doğru sıralayınız.

In [88]:
df.groupby("Description").agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS      53215
JUMBO BAG RED RETROSPOT                45066
ASSORTED COLOUR BIRD ORNAMENT          35314
WHITE HANGING HEART T-LIGHT HOLDER     34147
PACK OF 72 RETROSPOT CAKE CASES        33409

#### 8. Faturalardaki ‘C’ iptal edilen işlemleri göstermektedir. İptal edilen işlemleri veri setinden çıkartınız.

In [89]:
df = df[~df["Invoice"].str.contains("C", na=False)]

In [90]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55000,17850.00000,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75000,17850.00000,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom

#### 9. Fatura başına elde edilen toplam kazancı ifade eden ‘TotalPrice’ adında bir değişken oluşturunuz.

In [91]:
df["TotalPrice"] = df["Quantity"]*df["Price"]
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55000,17850.00000,United Kingdom,15.30000
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom,20.34000
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75000,17850.00000,United Kingdom,22.00000
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom,20.34000
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39000,17850.00000,United Kingdom,20.34000

## Görev 2:

#### Recency, Frequency ve Monetary tanımlarını yapınız.

In [92]:
# Recency (yenilik): Müşterinin son satın almasından bugüne kadar geçen süre
# Frequency (Sıklık): Toplam satın alma sayısı.
# Monetary (Parasal Değer): Müşterinin yaptığı toplam harcama.

#### Müşteri özelinde Recency, Frequency ve Monetary metriklerini groupby, agg ve lambda ile hesaplayınız.

In [93]:
df["InvoiceDate"].max()

Timestamp('2011-12-09 12:50:00')

In [94]:
today_date = dt.datetime(2011, 12, 11) # max InvoiceDate

In [95]:
rfm = df.groupby("Customer ID").agg({"InvoiceDate": lambda InvoiceDate: (today_date - InvoiceDate.max()).days,
                                     "Invoice": lambda Invoice: Invoice.nunique(),
                                     "TotalPrice": lambda TotalPrice: TotalPrice.sum()})
rfm.head()

             InvoiceDate  Invoice  TotalPrice
Customer ID
12346.00000          326        1 77183.60000
12347.00000            3        7  4310.00000
12348.00000           76        4  1797.24000
12349.00000           19        1  1757.55000
12350.00000          311        1   334.40000

#### Oluşturduğunuz metriklerin isimlerini recency, frequency ve monetary olarak değiştiriniz.

In [96]:
rfm.columns = ["Recency", "Frequency", "Monetary"]
rfm.head()

             Recency  Frequency    Monetary
Customer ID
12346.00000      326          1 77183.60000
12347.00000        3          7  4310.00000
12348.00000       76          4  1797.24000
12349.00000       19          1  1757.55000
12350.00000      311          1   334.40000

In [97]:
rfm = rfm[rfm["Monetary" ]> 0]
rfm.head()

             Recency  Frequency    Monetary
Customer ID
12346.00000      326          1 77183.60000
12347.00000        3          7  4310.00000
12348.00000       76          4  1797.24000
12349.00000       19          1  1757.55000
12350.00000      311          1   334.40000

In [98]:
(rfm["Monetary"] < 0).any()

False

## Görev 3:

#### ▪ Recency, Frequency ve Monetary metriklerini qcut yardımı ile 1-5 arasında skorlara çeviriniz.

In [99]:
rfm["recency_score"] = pd.qcut(rfm["Recency"], 5, labels=[5,4,3,2,1])
rfm.head()

             Recency  Frequency    Monetary recency_score
Customer ID
12346.00000      326          1 77183.60000             1
12347.00000        3          7  4310.00000             5
12348.00000       76          4  1797.24000             2
12349.00000       19          1  1757.55000             4
12350.00000      311          1   334.40000             1

In [1]:
rfm["frequency_score"] = pd.qcut(rfm["Frequency"].rank(method="first"), 5, labels=[1,2,3,4,5])
rfm.head()

NameError: name 'pd' is not defined

In [101]:
rfm["monetary_score"] = pd.qcut(rfm["Monetary"], 5, labels=[1,2,3,4,5])
rfm.head()

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score
Customer ID,,,,,,
12346.00000,326,1,77183.60000,1,1,5
12347.00000,3,7,4310.00000,5,5,5
12348.00000,76,4,1797.24000,2,4,4
12349.00000,19,1,1757.55000,4,1,4
12350.00000,311,1,334.40000,1,1,2

#### ▪ Oluşan 2 farklı değişkenin değerini tek bir değişken olarak ifade ediniz ve RFM_SCORE olarak kaydediniz.

In [102]:
rfm["RFM_SCORE"] = rfm["recency_score"].astype(str)+rfm["frequency_score"].astype(str)
rfm.head()

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score,RFM_SCORE
Customer ID,,,,,,,
12346.00000,326,1,77183.60000,1,1,5,11
12347.00000,3,7,4310.00000,5,5,5,55
12348.00000,76,4,1797.24000,2,4,4,24
12349.00000,19,1,1757.55000,4,1,4,41
12350.00000,311,1,334.40000,1,1,2,11

## Görev 4:

#### ▪ Oluşturulan RFM skorların daha açıklanabilir olması için segment tanımlamaları yapınız.
#### ▪ Aşağıdaki seg_map yardımı ile skorları segmentlere çeviriniz.

In [103]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [104]:
rfm["segment"] = rfm["RFM_SCORE"].replace(seg_map, regex=True)
rfm.head()

,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12346.00000,326,1,77183.60000,1,1,5,11,hibernating
12347.00000,3,7,4310.00000,5,5,5,55,champions
12348.00000,76,4,1797.24000,2,4,4,24,at_Risk
12349.00000,19,1,1757.55000,4,1,4,41,promising
12350.00000,311,1,334.40000,1,1,2,11,hibernating

## Görev 5:

#### Önemli bulduğunuz 3 segmenti seçiniz. Bu üç segmenti;
#### - Hem aksiyon kararları açısından,
#### - Hem de segmentlerin yapısı açısından (ortalama RFM değerleri) yorumlayınız.

In [120]:
rfm_need_attention = rfm[rfm["segment"] == "need_attention"].head()

In [121]:
rfm_need_attention[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "count"])

                Recency       Frequency         Monetary
                   mean count      mean count       mean count
segment
need_attention 56.20000     5         3     5 4100.21400     5

In [122]:
rfm_at_Risk = rfm[rfm["segment"] == "at_Risk"].head()
rfm_at_Risk[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "count"])

          Recency       Frequency         Monetary
             mean count      mean count       mean count
segment
at_Risk 106.60000     5         4     5 3482.34400     5

In [124]:
rfm_champions = rfm[rfm["segment"] == "champions"].head()
rfm_champions[["segment", "Recency", "Frequency", "Monetary"]].groupby("segment").agg(["mean", "count"])

          Recency       Frequency         Monetary
             mean count      mean count       mean count
segment
champions 4.80000     5         7     5 3268.74800     5

#### ▪ "Loyal Customers" sınıfına ait customer ID'leri seçerek excel çıktısını alınız.

In [129]:
rfm[rfm["segment"] == "loyal_customers"].index

Float64Index([12352.0, 12359.0, 12370.0, 12380.0, 12388.0, 12395.0, 12407.0,
              12408.0, 12415.0, 12421.0,
              ...
              18204.0, 18211.0, 18221.0, 18226.0, 18235.0, 18236.0, 18257.0,
              18259.0, 18263.0, 18287.0],
             dtype='float64', name='Customer ID', length=819)

In [132]:
new_df = pd.DataFrame()
new_df["loyal_customers_id"] = rfm[rfm["segment"] == "loyal_customers"].index
new_df.head()

   loyal_customers_id
0         12352.00000
1         12359.00000
2         12370.00000
3         12380.00000
4         12388.00000

In [134]:
new_df.to_csv("loyal_customers.csv")